* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-bg: #161622;
    --secondary: #491C30;
    /* --main_content_top:16vh; */
    /* --primary-box-shadow:0px 0px 5px 3px rgb(82, 82, 82); */
}

body {
    overflow-x: hidden;
    background-color: #1f1b25 !important;
  
}
#body-video-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    overflow-x: hidden;
}
#body-video{
    z-index: -1;
    position: fixed;

}

/* sidebar content */

#sidebar {
    
    z-index: 2;
    transition-duration: 1s;
    height: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    left: -145px;
    font-size: 25px;
}

#sidebar-content {
    /* border: 2px solid var(--primary-border); */
    box-shadow: var(--primary-box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: var(--primary-bg);
    padding: 5px;
    border-radius: 100px;
}


#sidebar #nav-links {
    display: flex;
    flex-direction: column;
}

#logo {
    text-decoration: none;
    padding: 0px 16px 0px 16px;
}

#nav-links a {
    margin: 10px 0px 10px 0px;
    padding: 16px;
    color: white;
    text-decoration: none;
    /* font-size: ; */
}


/* #sidebar a:hover:not(#logo) {
    border-radius: 50px;
    background-color: var(--secondary);
    color: white;
} */
#sidebar a:hover:not(#logo)
{
    color:#FA5A69;
}


#nav-links-logout a {
    color: white;
    padding: 16px;
    text-decoration: none;
    font-size: 25px;
}

/* nav side button */
#sidebar .nav-button {
    box-shadow: var(--primary-box-shadow);
    position: absolute;
    top: 2.6%;
    left: 95%;
    margin-left: 10px;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--primary-bg);
    /* border: 2px solid rgb(170, 170, 170); */
}


.nav-button label {
    display: flex;
    flex-direction: column;
    width: 70px;
    margin-left: 6px;
    cursor: pointer;
}

.nav-button label span {
    background: #fff;
    border-radius: 10px;
    height: 6px;
    margin: 5px 0px;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.nav-button span:nth-of-type(1) {
    width: 30%;

}

.nav-button span:nth-of-type(2) {
    width: 80%;
}


.nav-button span:nth-of-type(3) {
    width: 55%;

}



.nav-button input[type="checkbox"] {
    display: none;
}



.nav-button input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    width: 40%;
    transform: rotatez(45deg) translate(8px, 0px);
}




.nav-button input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: translate();
    transform: rotatez(-45deg);
}



.nav-button input[type="checkbox"]:checked~span:nth-of-type(3) {
    transform-origin: bottom;
    width: 40%;
    transform: translate(22px, -10px) rotatez(45deg);

}

/* < 650px height && < 650px width navbar */
#nav-650-650 {
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    top: -290px;
}

#nav-logo-650-650 {
    text-decoration: none;
}

#nav-content-650-650 {
    box-shadow: var(--primary-box-shadow);
    width: 100vw;
    background-color: var(--primary-bg)
}

#nav-650-650 .nav-button {
    box-shadow: var(--primary-box-shadow);
    width: 80px;
    margin: 24px 10px;
}

#nav-links-650-650 a:nth-child(1) {
    border-top: 2px black solid;
}

#nav-links-650-650 a {
    border-bottom: 2px black solid;
    padding: 10px 5px;
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
}

#nav-links-650-650 a:active {
    background-color: var(--secondary);
}

#nav-content-650-650 button {
    display: none;
    background-color: var(--primary-bg);
    color: white;
    border: none;
    font-size: 30px;
    position: relative;
    left: 20%;
}

/*gamemode container*/
#gamemode_container {
    z-index: 1;
    box-shadow: var(--primary-box-shadow);
    color: white;
    background-color: var(--primary-bg);
    width: 65vw;
    height: 70px;
    position: fixed;
    top: 20px;
    left: 17%;
    border-radius: 50px;
}
#gamemode_heading{
    font-size: 1.15rem;
    margin-left: 10px;
}

/* profile div */
#main_content{
    /* backdrop-filter: blur(10px); */
    backdrop-filter: saturate(150%) blur(10px);
    /* flex-wrap: wrap; */
    /* border:1px  blue solid ; */
    box-shadow: 0px 0px 15px 7px var(--primary-bg);
    position: absolute;
    top: 110px;
    left:10%;
    height: fit-content;
    width: 85%;
    border-radius: 50px;
    color: #fff;
    /* margin-bottom: 20px; */
    /* overflow-x: hidden; */

}
/* #profile-container{
    display: flex;
    flex-direction:row;
    /justify-content: center;
    /margin: 16px;
    height: 100%;
    width: fit-content;
    /border:1px  white solid ;
    width: 70%;

}  */
#main_content_body{
    
    height: auto;
    position: relative;
    top: 15%;
    display: flex;
    flex-direction:row;
    margin-top: 10px;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    /* width: 80%; */

}
#main_content_heading{

    width: 100%;
    position: relative;
    height: 15%;
    font-size: 3rem;
    color: #fff;
    padding: .5%;
    padding-left: 3%;
    border-radius: 50px 50px 0px 0px;

    background: rgba(22, 22, 34,0.9);
    backdrop-filter: saturate(180%) blur(10px);
}
/* #character-container img{
    height: 100%;
    margin-bottom: 10%;
} */
#character-container{
    /* box-shadow:  0px 0px 10px 7px #000; */
    width: 20vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* width: 26.6%; */
    /* height: 95.2%; */
    /* height: 400px; */
    /* border:1px  white solid ; */
    margin: 20px;
    margin-top: 0px;
    /* margin-top: 20px; */
}
#character-image{
    min-width: 450px;
    /* height: 100%; */
    /* height: auto; */
    width: 35vw ;
    height: 100%;
}

#profile{
    /* width: 74%; */
    
    display: flex;
    flex-direction: column;
    /* border:1px  white solid ; */
}
#agent-stats{
    border-bottom: 1px solid black;
    font-family: 'Anton', sans-serif;
    margin: 10px;
    /* border:1px  white solid ; */
    height: fit-content;
}
#agent-stats-heading{
    font-size:1.5rem;
}
#agent-stats-content{
    width: 80%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
#agent-name{
    font-size: 4rem;
    color:var(--secondary);
    font-weight: bolder;
}
#agent-played-time{
    margin-left: 15px;
}
#player-stats{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats{
    width: fit-content;
    height: fit-content;
    /* border:1px  white solid ; */
    padding: 10px;
}
.stats-heading{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
}
.stats-value{
    /* font-weight: bold; */
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
}
.ability-logo{
    width: 50px;
}
.ability-kills-value{
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
}
.ability-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}
#ability-kills{
    margin: 10px;
    margin-top: 20px;
}
#ability-kills-heading{
    margin-bottom: 16px;
    font-size: 1.4rem;
}

#ability-kills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* match history container */
#match-history-container{
    /* display: flex; */
    margin: 16px;
    margin-top: 0px;
    height: 100%;
    width: 25%;
    /* border:1px  white solid ; */
    color: white;

}
#match-history-dot{
    background-color: #12d4b4;
    width: 5px;
    height: 5px;
    position: relative;
    top:10px;
    right: 2px;
}
#match-history-body{
    border-left: 2px solid #2c2c44;
    /* border: 1px solid white; */
    height: 80%;
    /* width: 100%; */
}
#match-history-heading{
    margin-top: 16px;
    font-size: 1.4rem;
}
.day-wise-heading{
    margin: 10px;
    /* font-family: 'Anton', sans-serif; */
    font-weight: 500;
}
.win{
    background:linear-gradient(to right,#12d4b480,#ffffff00);
    border-left: 3px solid #12d4b4 ;
}
.loss
{
    background:linear-gradient(to right,#FA5A6980,#ffffff00);
    border-left: 3px solid #FA5A69;
}
.match-container{
    padding: 10px ;
    display: flex;
    font-size: 1rem;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}
.match-container .match-agent img{
    height: 50px;
}
.section-1{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-left: 10%; */
    
}
.section-1 .match-map{
    font-family: 'Anton', sans-serif;
}
.section-1 .match-score{
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
.section-1 .match-score-win{
    color: #12d4b4;
}
.section-1 .match-score-loss{
    color: #FA5A69;
}
.section-2{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-left: 10%;
    margin-right: 5%; */

}
.section-2 .match-kda{
    font-weight: 400;
}
.section-2 .match-kda-value{
    font-weight: 600;
}
.match-container .rating img{
    height: 50px;
}

.match-agent-img,
.rating-img{
    width: 100%;
    height: auto;
    margin: auto;
}

















/* bootstrap edits */

#gamemode_container .navbar-nav {

    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    font-size: 1.15rem;
}
#gamemode_container .navbar-toggler{
    margin: 10px;
}
.nav-link{
    color:white !important;
}
.active{
    /* border-bottom: 3px solid #732b4c !important; */
    /* color:rgba(255, 255, 255, 0.75) !important; */
    color:#FA5A69 !important;
}

.nav-link:hover {
    border-bottom: 3px solid #732b4c !important;
    /* color:rgba(255, 255, 255, 0.75) !important; */
    color:#FA5A69 !important;

}